@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    background-color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}


.shadow-custom{
    box-shadow:34px -57px 54px -21px #0d0d0d;

}